body{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
}

.main-container__wrapper {
	width: 1240px;
	margin: auto;
}

.main-container {
	float: left;
	background: url(./main/background.png) repeat-y;
}

.round-area {
	width: 45px;
	height: 45px;
	background: #263238;
	border-radius: 100%;

	img {
		width: 16px;
		height: 16px;
		padding: 15px;
	}

	&--sub-area {
		width: 30px;
		height: 30px;
		background: white;
		border-radius: 100%;

		img {
			width: 10px;
			height: 14px;
		}
	}

	&--big {
		width: 60px;
		height: 60px;
		background: #263238;
		border-radius: 100%;

		img {
			width: 25px;
			height: 20px;
			padding: 18px;
			padding-top: 20px;

			&.apps {
				width: 25px;
				height: 25px;
				padding: 18px;
			}
		}
	}
}

ul.stars {
	list-style: none;
	li.star {
		float: left;
		&:before {
  			content: "\2605";
			font-size: 26px;
		}
	}
}

.clear-float {
	clear: both;
}
