doctype html
html
  head
    meta(charset='utf-8')
    title Tcaregorodtcev Vadim
    link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    link(rel='stylesheet', type='text/css', media='screen', href='./components/style.css')
  body
    include main/main.jade
