include ../mixins/contact-item
include ../mixins/contact-link-item

.sidebar__bottom-item.contact
	.contact__top
		.contact__top-logo.sidebar__logo
			.round-area
				img(src='./components/contact/contact.png')
		.contact__top-text.sidebar__title-text
			|Contact me
	.contact__bottom.clear-float
		.contact__items
			+contact('./components/contact/icons/contact.location.png', 'Saint Petersburg, Russia')
			+contact('./components/contact/icons/contact.mobile.png', '+7 (999) 243 97 83')
			+contact('./components/contact/icons/contact.mail.png', 'dev.tcaregorodtcev@gmail.com')
			+contactLink('./components/contact/icons/linkedin.png', 'https://www.linkedin.com/in/vadim-tcaregorodtcev-46639aa3/', 'LinkedIn')
