.sidebar__bottom-item.about
	.about__top
		.about__top-logo.sidebar__logo
			.round-area
				img(src='./components/about/about.png')
		.about__top-text.sidebar__title-text
			|About me
	.about__bottom.clear-float
		p
			|Hi there! I am 
			span.mark--pink Senior Frontend Developer 
			|with 
			span.mark--pink Team leading skills.
		p
			|Before I started writing on javascript frameworks like 
			span.mark--pink Ember, Angular, React 
			|I wrote an applications on a vanilla 
			span.mark--pink javascript
			|. This gave me the opportunity to easily understand 
			span.mark--pink any framework.
		p
			|My interest is to provide 
			span.mark--pink BEST service 
			|by developing 
			span.mark--pink SPA
			|, 
			span.mark--pink PWA 
			|or 
			span.mark--pink browser web applications 
			|using 
			span.mark--pink REST API
			|.
		p
			|My goal is properly developed project, that is covered with 
			span.mark--pink Unit-
			|, 
			span.mark--pink E2E-tests
			|, with 
			span.mark--pink fully documented
			|, 
			span.mark--pink refactored code
			|, which is written by following 
			span.mark--pink best style-guides
			|. My solution will be 
			span.mark--pink automatically builded and deployed by continuous integration server
			|. Previously I took part in developing social network, search engine's frontend, call-track system, custom cms and e-commerce website of heavy construction machinery. That's the biggest apps, that I was involved. By the way I have a rich team leading experience, so I will not only help you to build/rebuild your app, but also I will take all headache linked with communicating with a team of developers and reaching deadlines in time.
		p
			|My basic rule - 
			span.mark--pink quality above all else
			|. To prove I can give you free advice on your problem.
